<?xml version="1.0"?>
<robot name="ika" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false"/>
  <xacro:property name="use_sim" value="$(arg use_sim)"/>

  <xacro:include filename="$(find ika_description)/urdf/ika_properties.xacro"/>
  <xacro:include filename="$(find ika_description)/urdf/ika_base.xacro"/>
  <xacro:include filename="$(find ika_description)/urdf/ika_sensors.xacro"/>

  <xacro:if value="${use_sim}">
    <xacro:include filename="$(find ika_description)/urdf/ika_gazebo.xacro"/>
  </xacro:if>

</robot>
